body {
    background-color: #131d30;
    color: #c8e3c3;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.picture {
    width: 520px;
    height: auto;
    margin: 12px auto;
    display: block;
}

.title {
    font-weight: 800;
    margin: 10px auto;
    text-align: center;
}

h1.title {
    font-size: 4em;
}

.section {
    background-color: #080c14;
    margin: 12px auto;
    padding: 12px;
    width: 700px;
}

li {
    padding: 2px;
}

a {
    text-decoration: none;
    font-weight: 800;
}